[Unit]
Description=OpenStack - network bridge
Documentation=man:conjure-up(1)
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/openstack/init/bridge.start
ExecStop=/usr/share/openstack/init/bridge.stop

[Install]
WantedBy=multi-user.target