[Unit]
Description=OpenStack - network bridge
Documentation=man:conjure-up(1)
After=network-online.target
Before=lxd.service
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/openstack/bridge.start
ExecStop=/usr/lib/openstack/bridge.stop

[Install]
WantedBy=multi-user.target